html {
	height: 100%;
	background: transparent;
}
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	background: -moz-linear-gradient(top,  rgba(23,116,119,1) 0%, rgba(107,198,198,0.46) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,116,119,1)), color-stop(100%,rgba(107,198,198,0.46))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(23,116,119,1) 0%,rgba(107,198,198,0.46) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(23,116,119,1) 0%,rgba(107,198,198,0.46) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(23,116,119,1) 0%,rgba(107,198,198,0.46) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(23,116,119,1) 0%,rgba(107,198,198,0.46) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177477', endColorstr='#756bc6c6',GradientType=0 ); /* IE6-9 */

}
h1 {
	font-weight: 200!important;
	text-align: center;
}
input {
  font-size: 20px;
  line-height: 30px;
  height: auto;
}
.container ul {
	padding: 0;
	  border: 1px solid #ccc;
  border-radius: 11px;
  background-color: #fff;
  opacity: 0.8;
}
.container ul li {
	list-style-type: none!important;
}
.container ul li span {
	display: inline-block;
	padding: 15px;
	border-radius: 50%;
	vertical-align: middle;
}
.container .complete-button {
	background-color: #7ADB7E;
}
.container .delete-button {
	background-color: #EE8690;
}
.container ul li div {
	min-width:  70%;
  font-size: 15px;
  display: inline-block;
	padding: 5px 10px;
}
.container #form-container, .container #list-container li {
	padding: 5px 10px;
}
.container .item.completed {
	opacity: .25;
	-webkit-box-shadow: inset 0px 2px 9px -2px rgba(0,0,0,0.57);
	-moz-box-shadow: inset 0px 2px 9px -2px rgba(0,0,0,0.57);
	box-shadow: inset 0px 2px 9px -2px rgba(0,0,0,0.57);
}
.container .form-control {
	  box-shadow: inset 1px 2px 1px rgba(0,0,0,.075);
	  border: 0px solid rgba(204, 204, 204, 0);
	  background-color:rgba(255, 255, 255, 0.65);
	  color: rgba(37, 126, 128, 1)!important;
	  font-size: 15px;

}